.text h1 {
    text-align: center;
}

.text {
    width: 700px;
    margin: auto;
}

.topicCards {
    display: grid;
    grid-template-columns: auto 275px 75px 275px auto;
    grid-template-rows: auto 400px 75px 175px auto;
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

.card-img {
    border: 8px solid #b4b4b4;
    transition: .5s;
    width: 100%
}

.card-img:hover {
    transform: scale(1.1);
}

#warding-card {
    grid-row: 2/3;
    grid-column: 2/3;
}

#making-card {
    grid-row: 2/3;
    grid-column: 4/5;
}

#vigor-card {
    grid-row: 4/5;
    grid-column: 2/3;
}

#forbance-card {
    grid-row: 4/5;
    grid-column: 4/5;
}