nav {
    max-width: 200px;
    box-sizing: content-box;
    text-align: center;
    margin: auto;
    padding: 0;
}

.headder {
    max-width: 590px;
    box-sizing: content-box;
    text-align: center;
    justify-content: center;
    margin: auto;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a div:hover {
    background-color: black;
    color: white;
}

nav a div {
    border-radius: 5px;
    border: 2px solid black;
    padding: 5px;
    width: 200px;
    margin-top: 5px;
}