.card-img {
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    width: 300px;
}

body section h1 {
    font-family: Chalktastic, 'Times New Roman', Times, serif;
}

.siteButtons {
    display: grid;
    grid-template-columns: auto 300px auto 300px auto;
    width: 100%;

    margin-top: 100px;
}

.card-img {
    border: 10px solid #b4b4b4;
    transition: .6s;
}

.card-img:hover {
    transform: scale(1.1);
}

body section p {
    text-align: left;
}

#mechanics-card {
    grid-column: 2/3;
}

#equation-card {
    grid-column: 4/5;
}

body section {
    text-align: center;
}